<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{ 'background': config.color }">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <p>{{ description }}</p>

  <zapatillas></zapatillas>
  <app-cursos></app-cursos>

  <button (click)="cambiarTitulo()">Cambiar Titulo</button>
  <br>
  <br>
  <button (click)="toggleVideojuego(false)" *ngIf="togglear_videojuegos">
    Ocultar componente videojuego
  </button>
  <button (click)="toggleVideojuego(true)" *ngIf="!togglear_videojuegos">
    Mostrar componente videojuego
  </button>

  <videojuego *ngIf="togglear_videojuegos"></videojuego>

</div>
<router-outlet></router-outlet>